@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto&display=swap');

/*----------------------General--*/
body {
    font-family: "Roboto";
    height: 100%;
    color: #0C3E5E;
}

h1 h2 h3 {
    font-family: "Open Sans"
}

/*--------------------------------------NAVIGATION----*/

.navbar {
    z-index: 1020;
    box-shadow: 0 .5rem .5rem -.5rem rgba(0,0,0,.2)!important;
}

/*--#nav_styling {
    background-color: #B2CEFF;
    color: white;
    z-index: 2;
}    
    .navbar-custom {
    background-color: #ff5500;
    } ---*/

.bg-primary {
    background-color: #155B87 !important;

}

.navbar-brand {
    color: #292929;
}

 

/*----------------Landing page styling--*/
.landing-image {
    text-align: center;
    height: 600px;
    background-image: url("../images/medical-translations-1920x860.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1020;
    box-shadow: 0 .5rem .5rem -.5rem rgba(0,0,0,.2)!important;
}

.landing-logo {
    width: 300px;
    height: 300px;
    background-image: url("../images/logo_transparent.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;   
}

.landing-text-align {
    margin-top: 200px
}

.landing-text-align>h1 {
    padding-bottom: 5px;
    font-family: "Roboto";
    font-weight: 700;
}

.landing-button-align {
    margin-top: 10px;
}

.how-section{
    background-color: #F0FBFE;
    z-index: 1020;
    box-shadow: 0 .5rem .5rem -.5rem rgba(0,0,0,.1)!important;
}

.how-row-div {
    height: 100%;
}

.how-it-works {
    background-color: #F0FBFE;
}
   


.how-div>h1 {
    font-family: "Open sans";
    font-weight: 700;
    color: #2ED1B5;

}

.help-line {
    background-color:#F0FBFE;

}
/*-------------------------------------------------DOCTORS-SECTION----*/
.doctors-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.doctors-div {
    position:relative;
    display: inline;
    z-index: 1020;
    box-shadow: 0 .5rem .5rem -.5rem rgba(0,0,0,.2)!important;
}

.doctors-div > h5 {
    color: #2ED1B5;
}

.doctors-div > p {
    font-family: "Roboto";
}

.general-doctor{
    background-image: url(../images/doctor.jpg);
    background-size: cover;
    background-position: center;
    height: 180px;
    width: 180px;
    list-style: none;
    margin: 0;
    border-radius: 50%;
}

.cardio-doctor {
    background-image: url(../images/Screen_Shot_2016-02-04_at_6.52.32_PM_t750x550.png);
    background-size: cover;
    background-position: center;
    height: 180px;
    width: 180px;
    list-style: none;
    margin: 0px 0px 0px 0px;
    border-radius: 50%;
}

.psych-doctor {
    background-image: url(../images/national-doctors-day.jpg);
    background-size: cover;
    background-position: center;
    height: 180px;
    width: 180px;
    list-style: none;
    margin: 0px 0px 0px 0px;
    border-radius: 50%;
}

.help-line-row {
    
}

.help-title {
    font-family: "Roboto";
    font-weight: 700;
}

/*-----------------------------------Diagnostics--*/

.landing-image-diagnosis {
    text-align: center;
    background-image: url("../images/sante_social_vmobile.png");
    background-size: cover;
    background-position: center;
    z-index: 1020;
    box-shadow: 0 .5rem .5rem -.5rem rgba(0,0,0,.1)!important;
}

.diagnosis-image-text-align {
    margin-top: 100px;
    margin-bottom: 100px;
}

.how-it-works {
    z-index: 1020;
    box-shadow: 0 .5rem .5rem -.5rem rgba(0,0,0,.2)!important;
}

.instructions {
    color: #2ED1B5;
}

.landing-text-align>h1 {
    padding-bottom: 5px;
    font-family: "Roboto";
    font-weight: 700;
}

.input-match-list{
    height: 80px;
}
.user-logged-symptoms {
    height: 300px;
    margin: 10px 5px 10px 5px;
    text-align: left;
    background-color: #f6f7f8;
    border: 1px solid #00a2e5;
    border-radius: 2%;
    overflow: auto;
}

.user-logged-symptoms > p {
    margin-bottom: 0px;
}

.user-logged-symptoms > h6 {
   text-align: center;
   background-color: #70d6ff;
}


.returned-diagnosis {
    height: 300px;
    margin: 10px 5px 10px 5px;
    text-align: left;
    background-color: #f6f7f8;
    border: 1px solid #00a2e5;
    border-radius: 2%;
    overflow: auto;
}

.returned-diagnosis > p {
    margin-bottom: 0px;
}

.returned-diagnosis > h6 {
    text-align: center;
    background-color: #70d6ff;
}


/*-----------------Footer--*/
.footer-style {
    background-color: #0C3E5E;
    padding-top: 20px;
}

.footer-items {
    font-family: "Open Sans";
    display: inline-block;
    list-style: none;

}

.social-media {
    font-family: "Open Sans";
    display: inline-block;
    list-style: none;
}

.footer-list {
    display: inline-block;
    margin: 5px 10px;
    color: #fff;
}

.social-media {
    margin: 0px 5px;
    color: #fff;
    padding-bottom: 20px

}



